<!-- <app-popups
  [message]="'Registration Successful!'"
  [isShow]="popupDisplay"
  [isButtonShow]="false"
></app-popups> -->
<section class="container mt-3">
  <form>
    <!-- 2 column grid layout with text inputs for the first and last names -->
    <div class="row mb-4">
      <div class="col">
        <div data-mdb-input-init class="form-outline">
          <input
            type="text"
            id="form6Example1"
            class="form-control"
            name="username"
            [(ngModel)]="RegisterCred.name"
          />
          <label class="form-label" for="form6Example1">Name</label>
        </div>
      </div>
      <div class="col">
        <div data-mdb-input-init class="form-outline">
          <input
            type="email"
            id="form6Example2"
            class="form-control"
            name="Email"
            [(ngModel)]="RegisterCred.email"
          />
          <label class="form-label" for="form6Example2">Email</label>
        </div>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col">
        <!-- Text input -->
        <div data-mdb-input-init class="form-outline mb-4">
          <input
            type="text"
            id="form6Example3"
            class="form-control"
            [(ngModel)]="RegisterCred.phoneNumber"
            name="Contact"
          />
          <label class="form-label" for="form6Example3">Contact Number</label>
        </div>
      </div>
      <div class="col">
        <div data-mdb-input-init class="form-outline">
          <input
            type="text"
            id="form6Example2"
            class="form-control"
            name="Email"
            [(ngModel)]="RegisterCred.address"
          />
          <label class="form-label" for="form6Example2">Address</label>
        </div>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col">
        <div data-mdb-input-init class="form-outline">
          <input
            type="text"
            id="form6Example4"
            class="form-control"
            [(ngModel)]="RegisterCred.userName"
            name="ContactNum"
          />
          <label class="form-label" for="form6Example8">User Name</label>
        </div>
      </div>
      <div class="col">
        <div data-mdb-input-init class="form-outline">
          <input
            type="password"
            id="form6Example4"
            class="form-control"
            [(ngModel)]="RegisterCred.password"
            name="ContactNum"
          />
          <label class="form-label" for="form6Example9">Password</label>
        </div>
      </div>
    </div>

    <!-- <div data-mdb-input-init class="form-outline">
      <input
        type="number"
        id="form6Example4"
        class="form-control"
        [(ngModel)]="RegisterCred.alternateContact"
        name="ContactNum"
      />
      <label class="form-label" for="form6Example4">AlternateContact</label>
    </div> -->
    <!-- Submit button -->
    <button
      data-mdb-ripple-init
      type="button"
      class="btn btn-primary btn-block mb-4"
      (click)="onRegister()"
    >
      Register
    </button>
  </form>
</section>
