@import "ngx-toastr/toastr";

.nav-color {
  background-color: #8aaae5 !important;
}
.text-color {
  color: #ffff;
}
.bg-color {
  background-color: #fff;
  min-height: 100vh;
}
/* button {
  background-color: #e9edf6 !important;
  color: #111010 !important;
} */

/*  #CADCFC */
